{% extends "app/base.html" %}
{% load static %}
{% block title %}
Reset Password
{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="container text-light mt-5" style="max-width: 800px;">
  <h2 class="text-center mt-4">Reset Password</h2>
  <hr class="dg-dark text-center" />
  <div class="text-center text-white">
      <h2 class="mt-5"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i>  You will receive an email soon.</h2>
      <a href="{% url "home" %}" class="btn btn-warning mt-3">Home</a>
    </div>
</div>
{% endblock content %}